<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Hello Welcome to My Authentication System</h1>
    <h3>Kindly do the Followings:</h3>

    <button> <a href="/signup">SignUp</a> </button>
    <button><a href="/signin">SignIn</a> </button>
    <button><a href="/signout">Signout</a> </button>
</body>
</html>